asgiref==3.7.2 ; python_version >= "3.9" and python_version < "3.13"
django-filter==23.3 ; python_version >= "3.9" and python_version < "3.13"
django-postgres-extra==2.0.8 ; python_version >= "3.9" and python_version < "3.13"
django==4.2.6 ; python_version >= "3.9" and python_version < "3.13"
djangorestframework==3.14.0 ; python_version >= "3.9" and python_version < "3.13"
drf-url-filters==0.5.1 ; python_version >= "3.9" and python_version < "3.13"
numpy==1.26.0 ; python_version >= "3.9" and python_version <= "3.11" or python_version >= "3.12" and python_version < "3.13"
pandas==2.1.1 ; python_version >= "3.9" and python_version < "3.13"
psycopg2==2.9.9 ; python_version >= "3.9" and python_version < "3.13"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "3.13"
pytz==2023.3.post1 ; python_version >= "3.9" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.13"
sqlparse==0.4.4 ; python_version >= "3.9" and python_version < "3.13"
typing-extensions==4.8.0 ; python_version >= "3.9" and python_version < "3.11"
tzdata==2023.3 ; python_version >= "3.9" and python_version < "3.13"
voluptuous==0.13.1 ; python_version >= "3.9" and python_version < "3.13"
